body {
  text-align: left;
  background: #fff;
  background-size: auto;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}
@font-face {
  font-family: "clash display";
  src: url(/fonts/fonts/ClashDisplay-Bold.woff2);
}
@font-face {
  font-family: "Criteria";
  src: url(/fonts/criteria-cf-sans-font-1723184555-0/Fontspring-DEMO-criteriacf-bold.otf);
}
@font-face {
  font-family:"Agrandir";
  src: url(/fonts/Agrandir/Agrandir-Regular.otf);
}
@font-face {
  font-family:"Whyte Inktrap";
  src: url(/fonts/font/WhyteInktrap-Black.woff);
}
@font-face {
  font-family:"Oswald";
  src: url(/fonts/Oswald/OFL.txt);
}
:root{
  --color-primary: #EE2F5B;
  --color-secondary: #F4F4F4;
  --color-text: #F4F4F4;
  --color-7e4e46cc: #7A7A7A;
  --color-1d522ab5: #4054B2;
  --color-6f66f7cf: #23A455;
  --color-172f6628: #000;
  --color-60fea42d: #FFF;
  --font-family: "Criteria";
  --font-size: 5rem;
  --font-weight: 600;
  --line-height: 1.2em;
  --secondary-font-size: 4.3rem;
  --secondary-font-weight: 600;
  --secondary-line-height: 1.2em;
  --text-font-family: "Agrandir";
  --text-font-size: 1rem;
  --text-font-weight: 400;
  --text-line-height: 1.5em;
}
.containers{
  width: 88%;
  margin: 0 auto;
}
a{
  text-decoration: none;
  color: inherit;
}
ol, ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
#nav{
  height: fit-content;
  padding-bottom: 150px;
  background-image:linear-gradient(rgba(28, 28, 179, 0.5), rgba(14, 5, 57, 0.5)),url(/images/1.webp);
  animation-name: background-img;
  animation-duration: 10s;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 50px;
}
@keyframes background-img{
    0%{
        background-image:linear-gradient(rgba(28, 28, 179, 0.5), rgba(14, 5, 57, 0.5)), url(/images/2.webp); 
    }
    25%{
        background-image: linear-gradient(rgba(28, 28, 179, 0.5), rgba(14, 5, 57, 0.5)), url(/images/3.webp);  
    }
    50%{
        background-image:linear-gradient(rgba(28, 28, 179, 0.5), rgba(14, 5, 57, 0.5)), url(/images/6.webp);
    }
    75%{
        background-image: linear-gradient(rgba(28, 28, 179, 0.5), rgba(14, 5, 57, 0.5)), url(/images/7.webp);
    }  
}
.heloo{
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 1px;
}
.top_search_gen{
  position: relative;
}
.nav-link{
  font-family: var(--text-font-family);
  font-weight: 800;
  color: var(--color-text);
}
.nav-link:hover{
  color: #F35042;
}
.btns{
  color: white;
  background: linear-gradient(to right, #FD4E33, #E02870);
  padding: 18px 45px;
  margin-left: 50px;
  border: none
}
.btn:hover {
  background: linear-gradient(to right, #E02870, #FD4E33);
  color: white;
}
@media(max-width:1062px){
  .nav_btn img{
    display: none;
  }
}
.btns a.text-completed::after,.text-completed::before{
  content: "SPONSOR";
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #ffff;
  left: 0;
  width: 100%;
  line-height:50px;
  text-transform: capitalize;
  transition: all 400ms;
}
.btns .text-completed::before{
  content: "REGISTER";
  left: 190px;
  background: linear-gradient(to right #df2771,#fb4c37);
}
.btns a.text-completed:hover::after{
  left:-170px;
  background: linear-gradient(to right #fb4c37, #df2771);
}
.btns .text-completed:hover::before{
  left: 0;
}
.btns a{
  display: flex;
  overflow: hidden;
  width: 160px;
  height: 42px;
  position: relative;
}
.btns{
  height: 50px;
  width: 60%;
  display: flex;
  overflow: hidden;
  border: none;
  position: relative;
  padding: 30px;
  align-items: center;
  justify-content: center;
  background-color: #fb4c37;
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}
.navbar-toggler{
  border: none;
  text-shadow: none;
  outline: none;
}
.offcanvas-top{
  background: linear-gradient(to top, #E02870, #FD4E33);
  font-family: "Clash Display", Sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: white;
  height: fit-content;
}
.offcanvas-top li{
  padding-bottom: 20px;
}
.offcanvas-top li:hover{
  background-color: white;
  color: var(--color-primary);
}
@media(max-width:1201px){ 
  .btns{
    padding: 15px 30px;
    margin-left: 10px;
  }
  .navbar-brand{
    margin-right: 0px
  }
 }
.hero > .anticipate{
  color: var(--color-text);
  font-family: var(--text-font-family);
  font-size: var(--text-font-size);
  font-weight: 700;
  text-align: center;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 20px
}
.hero h1{
  color: var(--color-secondary);
  font-family: "Clash Display", Sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  line-height: 1em;
  text-align: center;
  letter-spacing: 2px;
}
.hero p{
  text-align: center;
  color: var(--color-text);
  font-family: var(--text-font-family);
  font-weight: var(--secondary-font-weight);
  letter-spacing: 2px;
  margin-top: 30px;
}
.sponsor{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
.sponsor button{
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  background-color: transparent;
  padding: 15px 30px;
  border: 1px solid #08003C;
  letter-spacing: 2px;
}
.sponsor button:hover{
  color: #08003C;
}
.preload-animation{
  position: relative;
}
.img{
  position: absolute; top: 80px; left: 80px;
}
@media(max-width:767px){
  .btnsection > img{
    height: 20px;
  }
  .img{
    position: absolute; top: 80px; left: 180px
  }
}
.btnsection{
  display: flex;
  gap: 50px;
  align-items: center;
}
.sponsor_p{
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  background-color: transparent;
  letter-spacing: 2px;
  cursor: pointer;
}
.display_small_device{
  display: none;
}
#search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #160A1D; 
  z-index: 1000; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}
#search-input-container {
  width: 80%;
  max-width: 600px;
  text-align: center; 
}
#search-input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #2E2334; 
  outline: none;
  font-family: "Oswald", Sans-serif; 
  font-size: 30px; 
  font-weight: normal; 
  color: #4F092A;
  background-color: transparent;
  text-align: center;
}
#remove-search {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}
main{
  background-color: #08003C;
  height: fit-content;
}
.boex_rows{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--color-7e4e46cc);
}
@media(max-width:1108px){
  .boex_rows{
    border-bottom: 1px solid #2F285B;
  }
 }
 @media(max-width:1039px){
  .boex_rows{
    border-bottom: none
  }
  } 
.boxes{
  border: 1px solid white;
  height: 180px;
  width: 23.2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-60fea42d);
}
@media(max-width:1024px){
  .containers{
    width: 90%;
    margin: 0 auto;
  }
  .boxes{
    width: 49%;
    margin-bottom: 20px;
  }
 }
 .boxes h1{
  font-family: "Clash Display", Sans-serif;
  color: var(--color-primary);
  font-size: var(--secondary-font-size);
  text-align: center;
 }
 .boxes p{
  font-family: var(--text-font-family);
  font-weight: 800;
  font-size: 1.2rem;
  letter-spacing: 2px;
  text-align: center;
 }
 .about_smfest_section{
  margin-top: 200px
 }
 .about_smfest{
  height: fit-content;
  display: flex;
  align-items: center;
  color: var(--color-text);
  font-family: "Clash Display", Sans-serif;
  padding-bottom:  200px; 
 }
 hr{
  display: none;
 }
 .about{
  width: 50%;
  height: fit-content; 
 }
 .first{
  padding-right: 65px;
 }
 .about_smfest h6{
  color: var(--color-primary);
  letter-spacing: 6px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  font-size: var(--text-font-size);
  margin-bottom: 20px;
 }
 .about_smfest h1{
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 20px;
 }
 .about_smfest p{
  font-size: 16px;
  letter-spacing: 1px;
 font-family: var(--text-font-family);
  font-weight:800;
 line-height: 22px;
 }
 .about button{
  color: white;
  background-color: transparent;
  border: 2px solid white;
  padding: 15px 40px;
  margin-top: 60px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
 
 }
 .about button:hover{
  background-color: #fb4c37;
 }
 .abouts a.read_more::after,.read_more::before{
  content: "READ MORE";
  position: absolute;
  align-items: center;
  justify-content: center;
  color: #ffff;
  left: 0;
  width: 100%;
  line-height:50px;
  text-transform: capitalize;
  transition: all 400ms;
}
.abouts.read_more::before{
  content: "READ MORE";
  left: 190px;
  background: linear-gradient(to right #df2771,#fb4c37);
}
.abouts a.read_more:hover::after{
  left:-170px;
  background: linear-gradient(to right #fb4c37, #df2771);
}
#volunteer:hover{
  background-color: #fb4c37;
}
.abouts a{
  display: flex;
  overflow: hidden;
  width: 100px;
  height: 32px;
  position: relative;
  align-items: center;
}
.borders{
  position: relative;
  border: 4px solid #EE2F5B; 
  border-radius: 10px;
  height: 90vh;
}
.about_bg{
  background-image: url(/images/about-smfest-2webp.webp);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  right: 50px;
  min-height: 100%;
  min-width: 100%;
}
@media (max-width: 768px) {
  .borders {
    height: 80vh; 
  }
}
@media (min-width: 769px) {
  .borders {
    height: 140vh; 
  }
}
.Years_Of_Excellence{
  border: 1px solid white;
  font-family: Sans-serif;
  height: 150px;
  width: 280px;
  position: absolute;
  z-index: 2;
  color: white;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: -50px;
}
.Years_Of_Excellence div{
  display: flex;
}
.Years_Of_Excellence div h1{
  font-size: 5rem;
}
.Years_Of_Excellence div h5{
  position: absolute;
  top: 20px;
  right: 90px;
}
.second_about_bg{
  background-image: url(/images/DSC_9591-copy.jpg);
  
}
.about_smfest_section_second{
  margin-top: 150px;
}
.second{
  padding-left: 0px;
 }
 .animate__animated .animate__backInRight{
  --animate-duration: 200s;
 }
.Years_Of_Excellence_second{
  background-color: var(--color-primary);
  top: -80px;
  left: -110px;  
}
.Years_Of_Excellence > div h5{
 color: white;
 
}
.seconds h1{
  font-size: 3.6rem;
}
.about_smfest_section_second .second{
  width: 45%;
}
.about_smfest_section_second .seconds{
  width: 55%;
}
.engagement{
  height: fit-content;
  display: flex;
  width: 50%;
}
.bi{
  font-size: 40px;
  padding-right: 10px;
}
.engagement h3{
  font-family: "Clash Display", Sans-serif;
  font-size: 23px;
  font-weight: 700;
}
.Exhibit_SMFest h1{
  color: white;
  font-family: "Clash Display", Sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1em;
}
.Exhibit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.carousel-item img {
  height: 500px; 
  object-fit: cover; 
}
.text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
.text h3{
  color: var(--color-primary);
  letter-spacing: 6px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.text h1{
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 20px;
  text-align: center;
  font-family:"Whyte Inktrap", Sans-serif;
  color: var(--color-secondary);
}
.texts{
  width: 70%;
}
.text p{
  font-weight: 800;
  font-size: 16px;
  font-family:"Agrandir", Sans-serif;
}
.ticket_general{
  display: flex;
}
.ticket{
  border: 1px solid var(--color-primary);
  height: fit-content;
  color: white;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  text-align: center;
  padding: 30px 0;
  margin-bottom: 100px;
  height: fit-content;
}
.first_ticket{
  padding-bottom: 66px;
}
.ticket:hover{
  box-shadow: 
  -5px 10px 15px #2A1F50,  /* Left shadow */
  10px 10px 15px #2A1F50,   /* Right shadow */
  0px 15px 20px #2A1F50; 
}
.ticket h1, h2, h6{
  font-weight: 700;
}
.ticket h1{
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 30px;
  font-family: "clash display";
}
.ticket h2{
  color: var(--color-primary);
  font-size: 2.8rem;
  font-weight: 700;
  font-family:"Whyte Inktrap", Sans-serif;
  margin-bottom: 40px;
}
.ticket h6{
  font-size: 20px;
  font-weight: 700;
}
.ticket p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -15px;
  font-family: "Agrandir", Sans-serif;
  font-size: 16px;
  font-weight: 800;
  font-weight: normal;
  line-height: 2.5em;
}
.ticket button{
  background-color: transparent;
  color: var(--color-60fea42d);
  font-size: 21px;
  font-weight: 500;
  font-family: "Clash Display", Sans-serif;  
  padding: 8px 40px;
  border-radius: 20px;
  border: 1px solid white;
}
.ticket button:hover{
  padding: 15px 40px;
}
.third_ticket{
  position: relative;
}
.ticket_best{
  border-radius: 50%;
  background-color: var(--color-primary);
  color: white;
  border: 1px solid red;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: "clash display";
  font-weight: 600;
}
footer{
  height: fit-content;
  background-image: linear-gradient(180deg, rgba(24, 10, 76, 0.9) 0%, rgb(5, 23, 54) 100%),url(/images/1.webp);
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;

}
.footer-col{
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #B4B4B4;
  font-family: var(--text-font-family);
 font-weight: 600;
 font-size: var(--text-font-size);
 line-height: 1.5em;
 padding-top: 200px;
}
.col_logo{
  margin-bottom: 40px;
}
.icons_div{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.icons{
  width: 40px;
  border: 1px solid #B4B4B4;
  border-radius: 50%;
  padding: 10px;  
}
.footer-col h4{
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}
.footer-col_second{
  text-align: center;
  font-family: "Clash Display", Sans-serif;
}
.footer-col_second a{
  text-align: center;
  font-weight: 800;
  line-height: 1.8em;
  font-size: 18px;
}
.footer-col_second a:hover{
  color: #E73A82;
}
.footer-col_third{
  text-align: center;
  height: fit;
}
.footer-col_third button{
  align-items: center;
}
.footer-col_third h4{
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
  text-align: center;
}
.footer-col_third input {
  width: 360px;
  padding: 15px 25px;
  margin: 0px 0px 10px 0px;
  border-radius: 30px;
  background-color: rgba(2, 1, 1, 0);
  color: #666666;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid rgba(178, 178, 185, 0.23);
  outline: none;
}
.footer-col_third button {
  width: 360px;
  background-color: transparent;
  background-image: linear-gradient(90deg, #FF512F 0%, #DD2476 100%);
  color: #FFFFFF;
  padding: 20px 0;
  margin: 10px 0 0 0;
  border-radius: 30px;
  border: none;
}
.footer-col_third input:focus{
  border: 1px solid #FF512F;
  color: white;
}
.last_footer .row{
  border-top: 1px solid var(--color-7e4e46cc);
  height: fit-content;
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  color: white;
  position: relative;
}
.last_footer .row span{
  text-align: center;
  margin-top: 40px;
  font-family: var(--text-font-family);
  color: var(--color-7e4e46cc);
  font-weight: var(--text-font-weight);
}
.last_footer .row span a{
  color: white;
  font-weight: bolder;
}
.last_footer .row span a:hover{
  color: #08003C;
}
.top a {
  border: 1px solid white;
  width: 45px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  right: 30px;
  border-radius: 5px;
  z-index: 100;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}
.top a.visible {
  opacity: 1; 
}
.top a .top_icon:hover {
  color: #08003C;
}

/* Medium Devices */
@media(max-width:991px){
  .containers{
    width: 85%;
  }
  .hero h1{
    font-size: 5rem;
    font-weight: 800;
    line-height: 1em;
  }
  .boxes{
    height: 140px;
  }
  .boxes h1{
    font-size: 3rem;
  }
  .about_smfest_section{
    margin-top: 150px;
  }
  
  .about{
    width: 100%;
  }
  .about_bg{
    top: 50px;
    right: 25px;
  }
  .first{
    order: 2;
    margin-top: 100px;
    padding: 0px;
  }
  .second{
    order: 1;
  }
  .about_smfest_section_second .second{
    width: 100%;
  }
  .about_smfest_section_second .first{
    width: 100%;
  }
  .Exhibit img{
    display: none;
  }
  .text{
    width: 100%;
  }
  .text h1{
    font-size: 2.5rem;
  }
  .footer-col_third{
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
  }

 }
/* Small Devices */
@media(max-width:767px){
  #nav{
    padding-top: 0;
  }
  .offcanvas-top li:hover{
    background-color: white;
  }
  .display_small_device{
    display: block;
    position: absolute;
    right: 300px;
  }
  .hero h1{
    font-size: 4rem;
    font-weight: 800;
    line-height: 1em;
  }
  .hero p{
    font-size: 0.8rem;
    font-weight: 600;
  }
  .sponsor{
    gap: 0px;
  }
  .ticket_best{
    height: 50px;
    width: 50px;
  }
  .sponsor_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: 600;
  }
  .sponsor_p{
    font-size: 0.7rem;
    font-weight: 600;
    margin-left: -20px;
  }
  .sponsor button{
    padding: 15px 20px;
  }
  .preload-animation img{
    width: 100px;
  }
  .btnsection{
    width: 100%;
    justify-content: center;
    gap: 20px;
    text-align: center;
  }
  .Exhibit_SMFest .carousel-item img {
    width: 100%;
    height: auto;
  }
  .Exhibit_SMFest hr {
    margin-top: 50px;
  }
  .text{
    margin-top: 20px;
  }
  .text p{
    font-weight: var(--text-font-weight);
  }
  .img{
  position: absolute; top: 30px; left: 30px;
  width: 40px;
}
  .boxes{
    width: 100%;
    margin-bottom: 20px;
  }
  .boxes h1{
    font-size: 2rem;
  }
   .about_smfest h1{
    font-size: 2rem;
 }
 .Exhibit{
  padding-top: 100px;
 }
 .Exhibit h1{
  font-size: 4rem;
  line-height: 3rem;
 }
 .second{
  margin-top: -100px;
 }
 .second h1{
  letter-spacing: 3px;
 }
 .about_smfest p{
  font-weight:var(--text-font-weight);
 }
 .Years_Of_Excellence_second{
  background-color: var(--color-primary);
  top: -50px;
  left: -60px; 
  height: 110px;
  width: 400px; 
}
.Years_Of_Excellence{
  height: 130px;
  width: 300px;
  right: -30px; 
}
.Years_Of_Excellence div h1{
  font-size: 40px;
}
.Years_Of_Excellence div h5{
  position: absolute;
  top: 20px;
  right: 112px;
}
.engagement{
  width: 100%;
  padding-bottom: 20px;
}
.ticket{
  margin-bottom:0;
}
.ticket_general{
padding-bottom: 100px;
}
.ticket:hover{
  box-shadow: 
  -5px 10px 50px #2A1F50,  /* Left shadow */
  5px 10px 50px #2A1F50,   /* Right shadow */
  0px 10px 50px #2A1F50; 
}
footer{
  border-top: 1px solid var(--color-60fea42d);
}
.footer-col{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding: 30px;
}
.footer-col_third{
  width: 100%;
}
.footer-col_third{
  width: 100%;  
}

}
 /* Extra Small Devices */
@media(max-width:575px){
  .display_small_device{
    display: block;
    position: absolute;
    right: 200px;
  } 
  #nav{
  height: fit-content;
  padding-bottom: 50px;
 }
 .borders{
  height: 140vh;
  position: relative;
  border: 4px solid #EE2F5B; 
  border-radius: 10px;
  height: 70vh;
  width: 100%;
}
.about_bg{
  background-image: url(/images/about-smfest-2webp.webp);
  height: 90%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  right: 10px;
  min-height: 90%;
  min-width: 90%;
}
.Years_Of_Excellence{
  bottom: -80px;
  right: -20px;
}
.about_smfest{
  padding-bottom:  70px;
  padding-top: 20px;
 }
 hr{
  display: block;
 }

 }
 @media(max-width:410px){
  .display_small_device{
    position: absolute;
    right: 150px;
  }
 } 
 

